@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f9fafe;
  font-family: 'Inter', 'Segoe UI', 'sans-serif';
  color: #212325;
}

.input {
  @apply w-full rounded-xl border border-neutral-200 px-4 py-2 text-base bg-neutral-50 focus:bg-white focus:border-blue-400 outline-none transition;
}
