@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f9fafe;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  color: #212325;
}

.input {
  @apply w-full rounded-xl border border-neutral-200 px-4 py-2 text-base bg-neutral-50 outline-none transition;
}

.input:focus {
  @apply bg-white border-blue-400;
}
